body {
	background-image: url("http://chaspikserial.ru/uploads/posts/1files/917953-smoking-full-hd-wallpaper.jpg");
	padding: 10px;
}

img {
	width: 100%;
	max-width: 1100px;
	text-align: center;
}

.class {
	margin-top: 50px;
}

.row {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: black;
	opacity: 75%;
	margin-top: 10px;
	width: 100%;
}

#rules {
	text-align: center;
	width: 45%;
	margin: 10%;
}

#WinsLosses {
	font-size: 250%;
	width: 45%;
	margin-right: 10px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#GoalNumber {
	width: 20%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#YourSum {
	width: 20%;
	text-align: center;
	margin-left: 10px;

}

#drugz {
	z-index: 1;
	margin-right: 5px;
	margin-left: 5px;
}